obj/
bin/
ipch/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.user
*.filters
*.cache
~$*
Debug/
*.sdf
*.opensdf
*_i.c
Debug*/
Release*/
Win32/
x64/
*.pdb
*.aps
build*/
*~
README.html
.idea/
